<div class="d-flex flex-column">

    <!-- Top Navbar -->
    <nav class="navbar navbar-dark bg-dark px-3 shadow-sm">
        <div class="container-fluid">
            <NavLink class="navbar-brand fw-bold" href="/">
                OmniRepo
            </NavLink>
        </div>
    </nav>

    @* <div class="d-flex flex-grow-1"> *@
    @* *@
    @*     <!-- Sidebar --> *@
    @*     <div id="sidebarMenu" *@
    @*          class="collapse d-md-block bg-light border-end" *@
    @*          style="min-width: 250px;"> *@
    @* *@
    @*         <nav class="nav flex-column py-3"> *@
    @* *@
    @*             <div class="nav-item px-3 mb-2"> *@
    @*                 <NavLink class="nav-link d-flex align-items-center" *@
    @*                          href="/" Match="NavLinkMatch.All"> *@
    @*                     <i class="bi bi-house-door-fill me-2"></i> *@
    @*                     Home *@
    @*                 </NavLink> *@
    @*             </div> *@
    @* *@
    @*             <div class="nav-item px-3 mb-2"> *@
    @*                 <NavLink class="nav-link d-flex align-items-center" *@
    @*                          href="/counter"> *@
    @*                     <i class="bi bi-plus-square-fill me-2"></i> *@
    @*                     Counter *@
    @*                 </NavLink> *@
    @*             </div> *@
    @* *@
    @*             <div class="nav-item px-3 mb-2"> *@
    @*                 <NavLink class="nav-link d-flex align-items-center" *@
    @*                          href="/weather"> *@
    @*                     <i class="bi bi-list-nested me-2"></i> *@
    @*                     Admin Dashboard *@
    @*                 </NavLink> *@
    @*             </div> *@
    @* *@
    @*         </nav> *@
    @* *@
    @*     </div> *@
    @* *@
    @* </div> *@

</div>
